footer {
  padding: 0;
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 9;
  .ant-tabs {
    .ant-tabs-nav {
      display: block;
      width: 100%;
      background: #fff;
    }
    .ant-tabs-tab {
      padding: 6px 0px !important;
      margin: 0 12px 0 0;
      width: calc(25% - 9px);
      text-align: center;
      span {
        font-size: 11px;
        i.anticon {
          margin: 0px auto;
          display: block;
          font-size: 16px;
        }
      }
      &:hover,
      &.ant-tabs-tab-active {
        color: #cc0000;
      }
    }
    
    .ant-tabs-ink-bar {
      background-color: #cc0000;
    }
    
  &.ant-tabs-bottom .ant-tabs-bottom-bar {
    margin: 0;
    border: 0;
  }
  .ant-tabs-nav-wrap {
    margin-bottom: 1px;
  }
  }
}
