.exam-question-window {
  padding: 5px 12px 0;
  p {
    margin: 0;
    padding: 0;
    line-height: initial;
  }
  .question-list {
       height: 42px;
    margin: 0 -10px;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 5px;
    ul {
      padding: 0;
      margin: 0;
      white-space: nowrap;
      overflow-y: auto;
      height: 42px;
      li {
        display: inline-block;
        padding: 8px 0;
        font-size: 14px;
        vertical-align: middle;
        background: #d3d3d3;
        margin: 0 2px;
        color: #fff;
        font-weight: 600;
        border-radius: 3px;
        width: 36px;
        text-align: center;
        &.FRESH {
          background: url(../../images/buttons-sprite.png);
          background-position: -31px -68px;
          color: #000;
        }

        &.ANSWERED {
          background: url(../../images/buttons-sprite.png);
          background-position: -71px 0;
          
        }

        &.VISITED {
          background: url(../../images/buttons-sprite.png);
          background-position: -31px 1px;
          
        }

        &.MARKED {
          background: url(../../images/buttons-sprite.png);
              background-position: -69px -72px;
    
        }
        &.alreadyGreen {
          background: #73bc1f;
        }
      }
    }
  }
  .question {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-weight: 600;
    .hindi {
      font-size: 17.5px;
      padding-top: 10px;
    }
    img {
      max-width: 100%;
    }
  }
  .options {
    padding: 15px 0;
    position: relative;
    z-index: 1;
    img {
      max-width: 100%;
    }
    > div {
      border: 1px solid #f0f0f0;
      margin-bottom: 8px;
      padding: 8px 8px 8px 0;
      border-radius: 4px;
      display: block;
      [type='radio']:checked,
      [type='radio']:not(:checked) {
        position: absolute;
        left: -9999px;
      }
      [type='radio']:checked + label,
      [type='radio']:not(:checked) + label {
        position: relative;
        padding-left: 32px;
        cursor: pointer;
        line-height: 20px;
        display: block;
      }
      [type='radio']:checked + label:before,
      [type='radio']:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 5px;
        top: calc(50% - 9px);
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
      }
      [type='radio']:checked + label:after,
      [type='radio']:not(:checked) + label:after {
        content: '';
        width: 10px;
        height: 10px;
        background: #cc0000;
        position: absolute;
        top: calc(50% - 5px);
        left: 9px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
      }
      [type='radio']:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      [type='radio']:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
    .option {
      p {
        height: auto;
      }
      br {
        display: none;
      }
    }
  }
  .info-panel {
    border-bottom: 2px dotted rgba(255, 255, 255, 0.2);
    margin: 0 -10px 12px;
    padding: 4px 7px;
    font-size: 14px;
    color: #FFF;
    font-weight:600;
    >div {
      display: block;
      float: left;
      &.timer {
        float: right;
      }
    }
    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }
  .current-question {
    height: calc(100vh - 196px);
    overflow: auto;
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding: 15px;
    margin: 15px auto 0;
    background: #FFF;
    border-bottom: 0;
    position: relative;
    &::after {
    background-image: url("../../images/logo-icon.png");
    content: "";
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    }
    img {
      max-width: 100%;
      height: auto !important;
    }
  }
}
